<robot name = "robot">
    <link name="root">
        <inertial>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9447909556142241 0.886285692090284 0.7647709888482697" />
            </geometry>
            <material name="0 0 1 1">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 2.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9447909556142241 0.886285692090284 0.7647709888482697" />
            </geometry>
        </collision>
    </link>
    <link name="0">
        <inertial>
            <origin xyz="0.2645040200907137 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2645040200907137 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5290080401814274 0.6578403807744916 0.7927631668339294" />
            </geometry>
            <material name="0 1 0 1">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2645040200907137 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5290080401814274 0.6578403807744916 0.7927631668339294" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.0 0.0 -0.29950337204343574" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.29950337204343574" rpy="0 0 0"/>
            <geometry>
                <box size="0.5748113694184736 0.519870400673137 0.5990067440868715" />
            </geometry>
            <material name="0 1 0 1">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.29950337204343574" rpy="0 0 0"/>
            <geometry>
                <box size="0.5748113694184736 0.519870400673137 0.5990067440868715" />
            </geometry>
        </collision>
    </link>
    <link name="2">
        <inertial>
            <origin xyz="-0.2974450765505715 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2974450765505715 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.594890153101143 0.5590280982655821 0.812770690855237" />
            </geometry>
            <material name="0 0 1 1">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2974450765505715 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.594890153101143 0.5590280982655821 0.812770690855237" />
            </geometry>
        </collision>
    </link>
    <link name="3">
        <inertial>
            <origin xyz="0.0 -0.32480217893020746 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.32480217893020746 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5135854638936521 0.6496043578604149 0.8918507072632531" />
            </geometry>
            <material name="0 0 1 1">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.32480217893020746 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5135854638936521 0.6496043578604149 0.8918507072632531" />
            </geometry>
        </collision>
    </link>
    <link name="5">
        <inertial>
            <origin xyz="0.0 -0.2936039511180464 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2936039511180464 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5261412214483974 0.5872079022360928 0.6312474591073177" />
            </geometry>
            <material name="0 0 1 1">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2936039511180464 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5261412214483974 0.5872079022360928 0.6312474591073177" />
            </geometry>
        </collision>
    </link>
    <link name="7">
        <inertial>
            <origin xyz="-0.40267080793541266 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.40267080793541266 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8053416158708253 0.5568430304914274 0.9352451906453798" />
            </geometry>
            <material name="0 0 1 1">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.40267080793541266 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8053416158708253 0.5568430304914274 0.9352451906453798" />
            </geometry>
        </collision>
    </link>
    <joint name="root_0" type="revolute">
       <parent link="root"/>
       <child  link="0"/>
       <origin rpy="0 0 0" xyz="0.47239547780711205 0.0 2.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="root_1" type="revolute">
       <parent link="root"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 1.6176145055758653" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="root_2" type="revolute">
       <parent link="root"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.47239547780711205 0.0 2.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.2974450765505715 -0.27951404913279104 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.2645040200907137 -0.3289201903872458 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="2_7" type="revolute">
       <parent link="2"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="-0.594890153101143 0.0 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>